/* Estilos básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background: #f4f4f4;
  color: #333;
}

header {
  background: #4B0082;
  color: white;
  padding: 10px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #FFD700; /* Cor dourada para efeito de hover */
}

.menu-toggle {
  display: none;
  cursor: pointer;
  z-index: 1;
}

.menu-toggle span {
  display: block;
  width: 30px;
  height: 3px;
  margin: 6px;
  background: white;
  transition: all 0.3s ease;
}

.menu-toggle span:nth-child(1) {
  transform: rotate(0deg);
}

.menu-toggle span:nth-child(2) {
  opacity: 1;
}

.menu-toggle span:nth-child(3) {
  transform: rotate(0deg);
}

/* Responsividade */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: #4B0082;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links li {
    text-align: center;
    margin: 15px 0;
  }

  .menu-toggle {
    display: block;
  }

  .menu-toggle span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
  }

  .menu-toggle span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Layout de Grid para seções */
main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.intro {
  text-align: center;
}

section {
  padding: 20px;
  background: white;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 15px;
  font-size: 2rem;
  color: #4B0082;
  font-weight: bold;
}

/* Layout de Grid em telas grandes */
@media (min-width: 769px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .intro {
    grid-column: 1 / span 2;
  }

  section {
    margin-bottom: 0;
  }
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 15px 20px;
  margin-top: 20px;
  font-size: 0.9rem;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}
